{% extends "admin/base.html" %}
{% block title %}Update Post-Just A Blog{% endblock %}
{% block content %}
<ul class="tabs">
  <li><a href="/admin">Home</a></li>
  <li><a href="/post/new">New Post</a></li>
  <li class="active"><a href="#update">Update Post</a></li>
  <li><a href="/admin/post">Post</a></li>
  <li><a href="/admin/comment">Comment</a></li>
  <li><a href="/admin/settings">Settings</a></li>
</ul>
 
<div class="pill-content">
  <div class="active" id="home">
<form method="POST" class="uppost">
  <fieldset>
          <div class="row show-grid">
    <div class="span4"><div class="clearfix">
            <label for="xlInput3">文章标题</label>
            <div class="input">
              <input name="title" type="text" id="title" class="span4" value="{{post.title}}"/>
            </div>
          </div><!-- /clearfix --></div>
    <div class="span4 offset2"><div class="clearfix">
            <label for="xlInput3">文章Slug</label>
            <div class="input">
              <input name="slug" type="text" id="title" class="span4" value="{{post.slug}}" />
            </div>
          </div><!-- /clearfix --></div>
  </div><!-- /row -->
          
          
          <div class="clearfix">
            <label for="xlInput3">文章内容</label>
            <div class="input">
              <textarea name="post" class="xxlarge span10" id="textarea3" name="textarea2" rows="30">
              {% if post.is_html %}
                 {{post.content}}
              {% else %}
                 {{post.markdown}}
              {% endif %}
              
              </textarea>
              
            </div>
          </div><!-- /clearfix -->
          <div class="row show-grid">
    <div class="span4"><div class="clearfix">
            <label for="mediumSelect">文章类型</label>
            <div class="input">
              <select class="medium" name="postype" id="mediumSelect">
                <option>MarkDown</option>
                <option>HTML</option>
              </select>
            </div>
          </div><!-- /clearfix --></div>
    <div class="span4 offset2"><div class="clearfix">
            <label for="mediumSelect">文章分类</label>
            <div class="input">
              <select class="medium" name="category" id="mediumSelect">
              {% for cate in category %}
                <option>{{cate.name}}</option>
              {% endfor %}
              </select>
            </div>
          </div><!-- /clearfix --></div>
  </div><!-- /row -->
         
          
          <div class="clearfix">
            <label for="xlInput3">Tags</label>
            <div class="input">
              <input name="tags" type="text" class="span10" id="pswd" value="{{post.tags}}"/>
              <span class="help-block">
                用英文逗号隔开
              </span>
            </div>
          </div><!-- /clearfix -->
          <input type="hidden" name="postid" value="{{post.id}}"/>
       <div class="actions">
            <input type="submit" class="btn primary" value="更新文章">&nbsp;
            <a href="/"><button type="reset" class="btn">放弃更新</button></a>
      </div>
  </fieldset>
    </div>
  </form>
  </div>
</div>
{% endblock %}