<div id="as-inner" class="group">
  <div class="mod">
    <div class="radom">
        <h3>About Me</h3>
        <p>这是我的博客，用来扯淡</p>
      </div>    
  </div>
    
  <div class="mod links">
    <h3>Friend Link</h3>
      <div id="link-slider">
      <a href="http://serholiu.com/" title="SErHo's Blog" target="_blank">
        <span>SErHo's Blog</span></a>
      <span class="sep">•</span>
      <a href="http://bottlepy.org/" title="Bottle" target="_blank">
        <span>Bottle</span></a>
      
  </div>
  </div>
</div>
